.login{
    display:grid;
    place-items:center;
    height:100vh;
}


.login > button {
    width:300px;
    background-color: #c6cacf;
    color:#eff2f5;
    font-weight: 800;
}

.login > div{
    display:flex;
    flex-direction: column;
}

.login > div > img {
    height:150px;
    object-fit:contain
    
}